@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Questrial);
.button-info-dark, .button-input {
  background: #59bec0;
  border: none;
  border-radius: 2px;
  box-sizing: border-box;
  color: #fff6ec;
  display: inline-block;
  font-size: 16px;
  height: 36px;
  padding: 10px 0;
  text-align: center;
  transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1);
  width: 159px; }
  .button-info-dark:hover, .button-input:hover {
    background: #e6e6e2;
    color: #59bec0;
    transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1); }

.big-button {
  background: #59bec0;
  border: none;
  border-radius: 2px;
  box-sizing: border-box;
  color: #fff6ec;
  display: inline-block;
  font-size: 16px;
  height: 36px;
  padding: 10px 0;
  text-align: center;
  transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1);
  width: 259px; }
  .big-button:hover {
    background: #e6e6e2;
    color: #59bec0;
    transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1); }

* {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  background: #4e7e7e;
  font-family: "Questrial", Arial, sans-serif; }

a {
  text-decoration: none; }

h2 {
  padding: 0 0 16px 0;
  margin: 0 0 86px 0;
  font-size: 30px; }

ul {
  list-style: none; }

.space-form {
  background: #fff6ec;
  border: none;
  border-radius: 2px;
  color: #47878c;
  font-size: 15px;
  height: 20px;
  padding: 5px;
  width: 100%; }

.standard-text h3 {
  font-size: 20px;
  color: #59bec0;
  padding-top: 19px; }
.standard-text span {
  color: #ea9648;
  font-size: 14px;
  text-transform: italic; }
.standard-text p {
  color: #3a5a5a;
  font-size: 17px;
  line-height: 25px;
  margin: 19px 0; }

.standard-text-mini h3 {
  font-size: 18px;
  color: #59bec0;
  padding: 15px 0 5px;
  text-align: center; }
.standard-text-mini h4 {
  color: #ea9648;
  font-size: 13px;
  text-align: center; }
.standard-text-mini p {
  color: #3a5a5a;
  font-size: 15px;
  line-height: 20px;
  margin: 18px 0; }

.section {
  padding: 140px  14%;
  overflow: hidden; }

.recent-title {
  padding: 140px 0;
  background: rgba(81, 141, 145, 0.5); }

.section-aboutme, .section-others {
  background: #fff6ec; }
  .section-aboutme h2, .section-others h2 {
    color: #59bec0;
    border-bottom: 4px solid #59bec0; }

.section-contact {
  background: #4e7e7e; }
  .section-contact h2 {
    color: #e6e6e2;
    border-bottom: 4px solid #e6e6e2; }
  .section-contact p {
    color: #fee7d9;
    font-size: 20px;
    margin: 6px 0; }

.other-container {
  width: 100%;
  border-bottom: 4px solid #59bec0;
  padding-bottom: 40px;
  margin-bottom: 20px;
  overflow: hidden; }

.section-recents {
  background: url(../img/office-computer.jpg) no-repeat center;
  background-attachment: fixed; }
  .section-recents h2 {
    color: #fcdab7;
    border-bottom: 4px solid #fcdab7;
    margin: 0  0 0 14%; }

.principal {
  background: -webkit-linear-gradient(top, #fcf8f2 0%, #fcf8f2 81%, rgba(255, 255, 255, 0) 100%);
  height: 83px;
  position: fixed;
  width: 100%;
  z-index: 10; }
  .principal ul {
    height: 35px; }

.nav-principal a, .nav-lenguaje a {
  color: #47878c;
  height: 35px;
  font-size: 21px;
  transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1); }
  .nav-principal a:hover, .nav-lenguaje a:hover {
    color: #59bec0;
    transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1); }
.nav-principal li, .nav-lenguaje li {
  display: inline-block;
  border-bottom: 0px solid #59bec0;
  transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1);
  padding: 0 5px 5px 5px; }
  .nav-principal li:hover, .nav-lenguaje li:hover {
    border-bottom: 2px solid #59bec0;
    transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1); }

.nav-principal {
  float: left;
  margin: 24px  0 24px 14%; }
  .nav-principal li {
    margin: 0  22px; }

.nav-lenguaje {
  float: right;
  margin: 24px  5% 24px  0; }
  .nav-lenguaje li {
    padding: 0 15px; }
  .nav-lenguaje li:nth-child(2) {
    box-sizing: border-box;
    border-left: 2px solid #59bec0; }

.header-principal {
  background: url(../img/web-img.jpg) no-repeat center;
  background-attachment: fixed;
  overflow: hidden;
  height: 800px; }
  .header-principal .header-title {
    padding: 0  14%;
    margin: 0 auto;
    width: 59%; }

.principal-title {
  background: rgba(81, 141, 145, 0.5);
  margin: 280px 0 0 0;
  padding: 44px 0  5% 0;
  overflow: hidden; }
  .principal-title h1, .principal-title .gag-info {
    text-align: center;
    margin: 18px 0; }
  .principal-title a {
    padding: 8px 26px;
    background: #e6e6e2;
    border-radius: 2px;
    color: #47878c;
    transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1); }
    .principal-title a:hover {
      color: #e6e6e2;
      background: #47878c;
      transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1); }
  .principal-title h1 {
    font-size: 36px;
    color: #e6e6e2; }

.gag-info {
  font-size: 26px;
  color: #ecd3b5; }

.principal-button {
  font-size: 22px;
  margin: 40px 0;
  text-align: center; }

.aboutme-info, .aboutme-skill {
  display: inline;
  width: 50%; }

.aboutme-skill {
  float: right; }
  .aboutme-skill h3 {
    margin: 0 auto;
    text-align: center; }
  .aboutme-skill h4 {
    color: #3a5a5a;
    font-size: 18px;
    margin: 20px 0 10px 0; }
  .aboutme-skill div {
    background: #e6e6e2;
    height: 30px;
    width: 97%; }
  .aboutme-skill p {
    background: #59bec0;
    font-size: 17px;
    height: 30px;
    color: #fff6ec;
    padding: 4px 0 2px 24px;
    box-sizing: border-box; }

.aboutme-info {
  float: left; }
  .aboutme-info p {
    padding: 0 17% 0 0; }

.skill-html5 p {
  width: 90%; }

.skill-css3 p {
  width: 80%; }

.skill-sass p {
  width: 75%; }

.skill-js p {
  width: 70%; }

.recent-info {
  position: relative;
  width: 100%;
  background: #fff6ec;
  overflow: hidden;
  padding: 0 3% 35px;
  height: 460px;
  box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 0 3px 3px 3px; }

.recent-content {
  display: inline;
  width: 50%;
  box-sizing: border-box;
  float: left;
  padding: 12px 3% 12px 0; }

.recent-img {
  display: inline;
  width: 50%;
  box-sizing: border-box;
  float: right;
  padding: 32px 0 32px 6%; }
  .recent-img img {
    width: 100%; }

.recent-links {
  display: inline;
  width: 100%;
  box-sizing: border-box;
  border-top: 4px solid #59bec0;
  float: left;
  overflow: hidden; }
  .recent-links a {
    margin: 20px 2% 0 0; }

.other-cover {
  background: #fff6ec;
  display: inline;
  float: left;
  margin: 1%;
  padding: 30px 3%;
  transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1);
  width: 25%; }
  .other-cover:hover {
    background: #59bec0;
    transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1); }

.other-info {
  background: #fee7d9;
  box-sizing: border-box;
  padding: 20px 4%; }
  .other-info img {
    width: 100%; }

.section-others a {
  display: table;
  margin: 0 auto; }

.contact-form {
  margin: 0 auto;
  width: 42%; }
  .contact-form label, .contact-form textarea {
    display: block;
    font-size: 17px;
    width: 100%; }
  .contact-form label {
    margin: 20px 0 5px;
    color: #e6e6e2; }
  .contact-form textarea {
    background: #fff6ec;
    border: none;
    border-radius: 2px;
    color: #47878c;
    height: 200px;
    margin-bottom: 20px;
    padding: 5px;
    resize: vertical; }

footer {
  background: -webkit-linear-gradient(bottom, #fcf8f2 0%, #fcf8f2 81%, rgba(255, 255, 255, 0) 100%);
  overflow: hidden; }
  footer p {
    box-sizing: border-box;
    color: #59bec0;
    display: inline;
    float: right;
    font-size: 18px;
    height: 20px;
    margin: 45px 5% 20px 0;
    width: 20%; }

.nav-footer {
  box-sizing: border-box;
  display: inline-block;
  height: 20px;
  margin: 45px 0 20px 5%;
  width: 60%; }
  .nav-footer li {
    float: left;
    margin: 0 5%; }
  .nav-footer a {
    color: #47878c;
    font-size: 18px;
    transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1); }
    .nav-footer a:hover {
      border-bottom: 2px solid #59bec0;
      color: #59bec0;
      transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1); }

@media (max-width: 1024px) {
  .principal ul {
    margin: 24px 3% 24px 3%; }

  .nav-principal li, .nav-lenguaje li {
    margin: 0 9px; } }
@media (max-width: 965px) {
  .principal ul {
    margin: 24px 6%; }

  .nav-principal a, .nav-lenguaje a {
    font-size: 15px;
    margin: 0 1px; }
  .nav-principal li, .nav-lenguaje li {
    margin: 0 5px; } }
@media (max-width: 767px) {
  .principal ul {
    margin: 24px 4%; }

  .nav-principal a, .nav-lenguaje a {
    font-size: 12px;
    margin: 0 8px; }
  .nav-principal li, .nav-lenguaje li {
    margin: 0 -1px; } }
.content-allprojects {
  background: #fff6ec; }
  .content-allprojects h1 {
    padding: 20px 0 0 0;
    font-size: 12px; }

.project-content-a, .project-content-b {
  background: #A7C6C5; }

.recent-tabs {
  position: relative; }

.recent-tabs input {
  position: absolute;
  z-index: 1000;
  width: 120px;
  height: 40px;
  left: 0px;
  top: 0px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  cursor: pointer; }

.recent-tabs label {
  background: rgba(89, 190, 192, 0.6);
  font-size: 15px;
  line-height: 40px;
  height: 40px;
  position: relative;
  padding: 0 20px;
  float: left;
  display: block;
  width: 80px;
  color: #fee7d9;
  letter-spacing: 1px;
  text-align: center;
  border-radius: 3px 3px 0 0;
  box-shadow: 2px 0 2px rgba(0, 0, 0, 0.1), -2px 0 2px rgba(0, 0, 0, 0.1); }

.recent-tabs label:after {
  content: '';
  background: #fff;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  display: block; }

.recent-tabs input:hover + label {
  background: #5ba4a4;
  transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1); }

.tab-label-2 {
  z-index: 3; }

.tab-label-3 {
  z-index: 2; }

.tab-label-4 {
  z-index: 1; }

.recent-tabs input:checked + label {
  background: #fff6ec;
  color: #59bec0;
  z-index: 6;
  -webkit-animation: page 0.2s linear;
  -moz-animation: page 0.2s linear;
  -ms-animation: page 0.2s linear;
  -o-animation: page 0.2s linear;
  animation: page 0.2s linear; }

@keyframes "page" {
  0% {
    left: 0; }
  50% {
    left: 10px; }
  100% {
    left: 0; } }
@-moz-keyframes page {
  0% {
    left: 0; }
  50% {
    left: 10px; }
  100% {
    left: 0; } }
@-webkit-keyframes "page" {
  0% {
    left: 0; }
  50% {
    left: 10px; }
  100% {
    left: 0; } }
@-ms-keyframes "page" {
  0% {
    left: 0; }
  50% {
    left: 10px; }
  100% {
    left: 0; } }
/* 

// Comentarios

Desglose de la segunda entrega del proyecto final:

css-parcial 30/40
	+Uso de buenas prácticas: 12/15

		Los estilos de los h2 de cada sección no deberían estar dentro de 
		layout, pues no son reglas de diagramación. Mejor crear 
		clases para estos encabezados y aplicar los estilos en otra parte.

    +Organización de las hojas de estilos: 10/10
        
    +Uso adecuado de SASS y CSS: 8/15
        
        En el caso de los gradientes, es mejor usar un placeholder o un mixin
        que variables para agrupar todos las reglas en un sólo lugar.
        Los placeholders deberían ser más simples, no deberían tener otros
        selectores dentro. Es confuso y el mantenimiento es difícil.
        Sólo tiene sentido usar un placeholder cuando esas reglas se 
        van a usar varias veces. Si no, como en el caso de "%forms", mejor escribir 
       	las reglas una sola vez en el lugar correcto.
        No hay un uso correcto de SASS en los estilos de los tabs, es CSS convencional.

Cualquier duda me avisa. Saludos.

//

*/

/*# sourceMappingURL=styles.css.map */
