/* line 2, ../sass/partials/_placeholders.scss */
.aboutme-skill h3, .aboutme-info h3, .recent-content h3 {
  font-size: 20px;
  color: #59bec0;
  padding-top: 19px;
}
/* line 7, ../sass/partials/_placeholders.scss */
.aboutme-skill span, .aboutme-info span, .recent-content span {
  color: #ea9648;
  font-size: 14px;
  text-transform: italic;
}
/* line 12, ../sass/partials/_placeholders.scss */
.aboutme-skill p, .aboutme-info p, .recent-content p {
  color: #3a5a5a;
  font-size: 17px;
  line-height: 25px;
  margin: 19px 0;
}

/* line 23, ../sass/partials/_placeholders.scss */
.button-info-dark {
  background: #59bec0;
  border-radius: 2px;
  box-sizing: border-box;
  color: #fff6ec;
  display: inline-block;
  font-size: 16px;
  height: 36px;
  padding: 10px 0;
  text-align: center;
  transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1);
  width: 159px;
}
/* line 35, ../sass/partials/_placeholders.scss */
.button-info-dark:hover {
  background: #e6e6e2;
  color: #59bec0;
  transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1);
}

/* line 4, ../sass/partials/_base.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 9, ../sass/partials/_base.scss */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

/* line 14, ../sass/partials/_base.scss */
body {
  background: #4e7e7e;
  font-family: "Questrial", Arial;
}

/* line 20, ../sass/partials/_base.scss */
a {
  text-decoration: none;
}

/* line 24, ../sass/partials/_base.scss */
h2 {
  padding: 0 0 16px 0;
  margin: 0 0 86px 0;
  font-size: 30px;
}

/* line 30, ../sass/partials/_base.scss */
ul {
  list-style: none;
}

/* line 1, ../sass/partials/_layout.scss */
.section, footer {
  padding: 140px  14%;
  overflow: hidden;
}

/* line 7, ../sass/partials/_layout.scss */
.section-aboutme, .section-others {
  background: #fff6ec;
}
/* line 9, ../sass/partials/_layout.scss */
.section-aboutme h2, .section-others h2 {
  color: #59bec0;
  border-bottom: 4px solid #59bec0;
}

/* line 16, ../sass/partials/_layout.scss */
.section-recents {
  background: url(../img/office-computer.jpg) no-repeat center;
  background-attachment: fixed;
}
/* line 19, ../sass/partials/_layout.scss */
.section-recents h2 {
  color: #fcdab7;
  border-bottom: 4px solid #fcdab7;
  margin: 0  0 0 14%;
}

/* line 26, ../sass/partials/_layout.scss */
.section-contacts {
  background: #4e7e7e;
}
/* line 28, ../sass/partials/_layout.scss */
.section-contacts h2 {
  color: #e6e6e2;
  border-bottom: 4px solid #e6e6e2;
}

/* line 34, ../sass/partials/_layout.scss */
.recent-title {
  padding: 140px 0;
  background: rgba(81, 141, 145, 0.5);
}

/* line 1, ../sass/partials/modules/_navigation.scss */
.principal {
  background: -webkit-linear-gradient(top, #fcf8f2 0%, #fcf8f2 81%, rgba(255, 255, 255, 0) 100%);
  height: 83px;
  position: fixed;
  width: 100%;
}
/* line 6, ../sass/partials/modules/_navigation.scss */
.principal ul {
  height: 35px;
}

/* line 15, ../sass/partials/modules/_navigation.scss */
.nav-principal a, .nav-lenguaje a {
  color: #47878c;
  height: 35px;
  font-size: 21px;
  transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1);
}
/* line 20, ../sass/partials/modules/_navigation.scss */
.nav-principal a:hover, .nav-lenguaje a:hover {
  color: #59bec0;
  transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1);
}
/* line 27, ../sass/partials/modules/_navigation.scss */
.nav-principal li, .nav-lenguaje li {
  display: inline-block;
  border-bottom: 0px solid #59bec0;
  transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1);
  padding: 0 5px 5px 5px;
}
/* line 32, ../sass/partials/modules/_navigation.scss */
.nav-principal li:hover, .nav-lenguaje li:hover {
  border-bottom: 2px solid #59bec0;
  transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1);
}

/* line 41, ../sass/partials/modules/_navigation.scss */
.nav-principal {
  float: left;
  margin: 24px  0 24px 14%;
}
/* line 44, ../sass/partials/modules/_navigation.scss */
.nav-principal li {
  margin: 0  22px;
}

/* line 49, ../sass/partials/modules/_navigation.scss */
.nav-lenguaje {
  float: right;
  margin: 24px  5% 24px  0;
}
/* line 53, ../sass/partials/modules/_navigation.scss */
.nav-lenguaje li {
  padding: 0 15px;
}
/* line 57, ../sass/partials/modules/_navigation.scss */
.nav-lenguaje li:nth-child(2) {
  box-sizing: border-box;
  border-left: 2px solid #59bec0;
}

@media (max-width: 1024px) {
  /* line 65, ../sass/partials/modules/_navigation.scss */
  .principal ul {
    margin: 24px 3% 24px 3%;
  }

  /* line 73, ../sass/partials/modules/_navigation.scss */
  .nav-principal li, .nav-lenguaje li {
    margin: 0 9px;
  }
}
@media (max-width: 965px) {
  /* line 84, ../sass/partials/modules/_navigation.scss */
  .principal ul {
    margin: 24px 6%;
  }

  /* line 93, ../sass/partials/modules/_navigation.scss */
  .nav-principal a, .nav-lenguaje a {
    font-size: 15px;
    margin: 0 1px;
  }
  /* line 98, ../sass/partials/modules/_navigation.scss */
  .nav-principal li, .nav-lenguaje li {
    margin: 0 5px;
  }
}
@media (max-width: 767px) {
  /* line 110, ../sass/partials/modules/_navigation.scss */
  .principal ul {
    margin: 24px 4%;
  }

  /* line 118, ../sass/partials/modules/_navigation.scss */
  .nav-principal a, .nav-lenguaje a {
    font-size: 12px;
    margin: 0 8px;
  }
  /* line 123, ../sass/partials/modules/_navigation.scss */
  .nav-principal li, .nav-lenguaje li {
    margin: 0 -1px;
  }
}
/* line 5, ../sass/partials/modules/_header.scss */
header {
  background: url(../img/web-img.jpg) no-repeat center;
  background-attachment: fixed;
  overflow: hidden;
  height: 800px;
}
/* line 10, ../sass/partials/modules/_header.scss */
header .header-title {
  padding: 0  14%;
  margin: 0 auto;
  width: 59%;
}

/* line 19, ../sass/partials/modules/_header.scss */
.principal-title {
  background: rgba(81, 141, 145, 0.5);
  margin: 280px 0 0 0;
  padding: 44px 0  5% 0;
  overflow: hidden;
}
/* line 25, ../sass/partials/modules/_header.scss */
.principal-title h1, .principal-title .gag-info {
  text-align: center;
  margin: 18px 0;
}
/* line 30, ../sass/partials/modules/_header.scss */
.principal-title a {
  padding: 8px 26px;
  background: #e6e6e2;
  border-radius: 2px;
  color: #47878c;
  transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1);
}
/* line 36, ../sass/partials/modules/_header.scss */
.principal-title a:hover {
  color: #e6e6e2;
  background: #47878c;
  transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1);
}
/* line 43, ../sass/partials/modules/_header.scss */
.principal-title h1 {
  font-size: 36px;
  color: #e6e6e2;
}

/* line 50, ../sass/partials/modules/_header.scss */
.gag-info {
  font-size: 26px;
  color: #ecd3b5;
}

/* line 55, ../sass/partials/modules/_header.scss */
.principal-button {
  font-size: 22px;
  margin: 40px 0;
  text-align: center;
}

/* line 1, ../sass/partials/modules/_aboutme.scss */
.aboutme-info, .aboutme-skill {
  display: inline;
  width: 50%;
}

/* line 6, ../sass/partials/modules/_aboutme.scss */
.aboutme-skill {
  float: right;
}
/* line 9, ../sass/partials/modules/_aboutme.scss */
.aboutme-skill h3 {
  margin: 0 auto;
  text-align: center;
}
/* line 15, ../sass/partials/modules/_aboutme.scss */
.aboutme-skill h4 {
  color: #3a5a5a;
  font-size: 18px;
  margin: 20px 0 10px 0;
}
/* line 22, ../sass/partials/modules/_aboutme.scss */
.aboutme-skill div {
  background: #e6e6e2;
  height: 30px;
  width: 97%;
}
/* line 28, ../sass/partials/modules/_aboutme.scss */
.aboutme-skill p {
  background: #59bec0;
  font-size: 17px;
  height: 30px;
  color: #fff6ec;
  padding: 4px 0 2px 24px;
  box-sizing: border-box;
}

/* line 40, ../sass/partials/modules/_aboutme.scss */
.aboutme-info {
  float: left;
}
/* line 43, ../sass/partials/modules/_aboutme.scss */
.aboutme-info p {
  padding: 0 17% 0 0;
}

/* line 52, ../sass/partials/modules/_aboutme.scss */
.skill-html5 p {
  width: 90%;
}

/* line 58, ../sass/partials/modules/_aboutme.scss */
.skill-css3 p {
  width: 80%;
}

/* line 64, ../sass/partials/modules/_aboutme.scss */
.skill-sass p {
  width: 75%;
}

/* line 70, ../sass/partials/modules/_aboutme.scss */
.skill-js p {
  width: 70%;
}

/* line 1, ../sass/partials/modules/_recent.scss */
.recents-info {
  background: #fff6ec;
  height: 500px;
  overflow: hidden;
  padding: 0 3%;
}

/* line 8, ../sass/partials/modules/_recent.scss */
.recent-content {
  display: inline;
  width: 50%;
  box-sizing: border-box;
  float: left;
  padding: 12px 3% 12px 0;
}

/* line 15, ../sass/partials/modules/_recent.scss */
.recent-img {
  display: inline;
  width: 50%;
  box-sizing: border-box;
  float: right;
  padding: 32px 0 32px 6%;
}
/* line 19, ../sass/partials/modules/_recent.scss */
.recent-img img {
  width: 100%;
}

/* line 26, ../sass/partials/modules/_recent.scss */
.recent-links {
  display: inline;
  width: 100%;
  box-sizing: border-box;
  border-top: 4px solid #59bec0;
  float: left;
  overflow: hidden;
}
/* line 31, ../sass/partials/modules/_recent.scss */
.recent-links a {
  margin: 20px 2% 0 0;
}
