//
// Estilos para el Portafolio Diego Artavia Chacón
//

//
// Parciales
//

// Parciales base
@import "partials/variables";
@import "partials/mixins";
@import "partials/placeholders";
@import "partials/base";
@import "partials/layout";

// Módulos
@import "partials/modules/navigation";
@import "partials/modules/header";