//
//Estilos AGenerales
//
*{
	margin: 0;
	padding: 0;
}

html {
 	box-sizing: border-box;
 	font-size: 62.5%;
}

body{
	background: $background2;
	font-family: $font-general;

}

a{
	text-decoration: none;
}

h2{
	padding: 0 0 16px 0;
	margin: 0 0 86px 0;
	font-size:  30px;
}

ul{
	list-style: none;
}

.button-info-dark{
	@extend %button;
}

.big-button{
	@extend %button-big;
}

.button-input{
	@extend %button;
}

.space-form{
	background: $background1;
	border: none;
	border-radius: 2px;
	color: $cyan-second;
	font-size: 15px;
	height: 20px;
	padding: 5px;
	width: $total;
}

.standard-text{
	h3{
		font-size:  20px;
		color: $cyan;
		padding-top: 19px;
	}
	span{
		color: $date-text;
		font-size: 14px;
		text-transform: italic;
	}
	p{
		color: $normal-text;
		font-size: 17px;
		line-height: $line-text;
		margin: 19px 0;
	}
}

.standard-text-mini{
	h3{
		font-size:  18px;
		color: $cyan;
		padding: 15px 0 5px;
		text-align: center;
	}

	h4{
		color: $date-text;
		font-size: 13px;
		text-align: center;
	}
	
	p{
		color: $normal-text;
		font-size: 15px;
		line-height: 20px;
		margin: 18px 0;
	}
}

