%intro-text {
	h3{
		font-size:  20px;
		color: $cyan;
		padding-top: 19px;
	}
	span{
		color: $date-text;
		font-size: 14px;
		text-transform: italic;
	}
	p{
		color: $normal-text;
		font-size: 17px;
		line-height: $line-text;
		margin: 19px 0;
	}
	
	
	
}

%intro-text-mini{
	h3{
		font-size:  18px;
		color: $cyan;
		padding: 15px 0 5px;
		text-align: center;
	}

	h4{
		color: $date-text;
		font-size: 13px;
		text-align: center;
	}

	p{
		color: $normal-text;
		font-size: 15px;
		line-height: 20px;
		margin: 18px 0;
	}
	
	
	
}

%button{
	background: $cyan;
	border: none;
	border-radius: 2px;
	box-sizing: $boxing;
	color: $background1;
	display: inline-block;
	font-size: 16px;
	height: 36px;
	padding: 10px 0;
	text-align: center;
	transition: $hovers;
	width: 159px;
	&:hover{
		background: $text-clear;
		color: $cyan;
		transition: $hovers;
	}
}

%button-big{
	background: $cyan;
	border: none;
	border-radius: 2px;
	box-sizing: $boxing;
	color: $background1;
	display: inline-block;
	font-size: 16px;
	height: 36px;
	padding: 10px 0;
	text-align: center;
	transition: $hovers;
	width: 259px;
	&:hover{
		background: $text-clear;
		color: $cyan;
		transition: $hovers;
	}
}

%forms{
	label, textarea{
		display: block;
		font-size: 17px;
		width: $total;
	}
	label{
		margin: 20px 0 5px;
		color: $text-clear;
	}
	textarea{
		background: $background1;
		border: none;
		border-radius: 2px;
		color: $cyan-second;
		height: 200px;
		margin-bottom: 20px;
		padding: 5px;
		resize: vertical;
	}
}