.aboutme-info, .aboutme-skill{
	display: inline;
	width: $middle;
}


.aboutme-skill{
	float: right;
	h3{
		margin:  $center;
		text-align: center;

	}	

	h4{
		color: $normal-text;
		font-size: 18px;
		margin: 20px 0 10px 0;

	}

	div{
		background:  $text-clear;
		height: 30px;
		width: 97%;
	}

	p{
		background: $cyan;
		font-size:  17px;
		height: 30px;
		color: $background1;
		padding: 4px 0 2px 24px;
		box-sizing: $boxing;
	}


}

.aboutme-info{
	float: left;
	p{
		
  		padding: 0 17% 0 0;
	}


}

.skill-html5{
	p{
		width:  90%
	}
}

.skill-css3{
	p{
		width:  80%
	}
}

.skill-sass{
	p{
		width:  75%
	}
}

.skill-js{
	p{
		width:  70%
	}
}
