.contact-form{
	label, textarea{
		display: block;
		font-size: 17px;
		width: $total;
	}
	label{
		margin: 20px 0 5px;
		color: $text-clear;
	}
	textarea{
		background: $background1;
		border: none;
		border-radius: 2px;
		color: $cyan-second;
		height: 200px;
		margin-bottom: 20px;
		padding: 5px;
		resize: vertical;
	}
	margin: $center;
	width:42%;
}

.formadvice{
	background: $project;
	padding: 12px 1%;
	width: $total;
	transition: $hovers;
	span{
		border-radius: 3px;
		color: $cyan !important;
	}
}

