//
//Estilos del Header
//

.header-principal{
	background: $background3;
	background-attachment: fixed;
	overflow: hidden;
	height:  800px;
	.header-title{
		
		padding: 0  14%;
		margin: $center;
		width: 59%;
	}

}

.principal-title{
	background: $header-principal;
	margin:280px 0 0 0;
	padding: 44px 0  5% 0;
	overflow : hidden;
	
	h1, .gag-info{
		text-align: center;
		margin: 18px 0;
	}

	a{
		padding: 8px 26px;
		background:  $disable-button;
		border-radius: 2px;
		color: $disable-text;
		transition: $hovers;
		&:hover{
			color:  $text-clear;
			background:  $cyan-second;
			transition: $hovers;
		}
	}

	h1{
		font-size: 36px;
		color: $text-clear;
	}
		
}

.gag-info{
	font-size:  26px;
	color: $header-aux;
}

.principal-button{
	font-size:  22px;
	margin: 40px 0;
	text-align: center;
}