.principal{
	background: $gmenu-webkit;
	height: 83px;
	position: fixed;
	width: $total;
	z-index: 10;
	ul{
		
		height: 35px;
	}

}

.nav-principal, .nav-lenguaje{
	
	a{
		color:  $cyan-second;
		height:  35px;
		font-size:  21px;
		transition: $hovers;
		&:hover{
			color:  $cyan;
			transition: $hovers;

		}
	}

	li{
		display:  inline-block;
		border-bottom: 0px solid $cyan;
		transition: $hovers;
		padding: 0 5px 5px 5px;
		&:hover{
			border-bottom: 2px solid $cyan;
			transition: $hovers;
		}
	}
	
	
}

.nav-principal{
	float: left;
	margin: 24px  0 24px 14%;
	li{
		margin: 0  22px;
	}
}

.nav-lenguaje{
	float: right;
	margin: 24px  5% 24px  0;

	li{
		padding: 0 15px;
	}

	li:nth-child(2){
		box-sizing: border-box;
		border-left: 2px solid $cyan;
	}
}