.other-cover{
	background: $background1;
	display: inline;
	float: left;
	margin: 1%;
	padding: 30px 3%;
	transition: $hovers;
	width: 25%;
	&:hover{
		background: $cyan;
		transition: $hovers;
	}
}

.other-info{
	background: $project;
	box-sizing: $boxing;
	padding: 20px 4%;
	img{
		width: $total;
	}
}

.section-others{
	a{
		display: table;
		margin: $center;
	}
}