@import url(http://fonts.googleapis.com/css?family=Muli);

body{
	font-family: 'Muli', Arial, sans-serif;
	background: #e3dcd4;
}

.playerbox {
	width: 850px;
	height: 450px;
	margin: 30px auto 0;
	padding: 15px;
	background-color: #00aa77;
	-webkit-box-shadow: 10px 10px 12px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 12px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 12px 0px rgba(0,0,0,0.75);
}

.playerbox-controls {
	margin: 0 auto;
	width: 850px;
	padding: 12px 28px;
	height: 200px; 
	overflow: hidden;
	margin-bottom: 40px;
	background-color: #222;
	-webkit-box-shadow: 10px 10px 12px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 12px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 12px 0px rgba(0,0,0,0.75);
}


.ulListSongs {
	padding: 0;
	float: left;
	background-color: transparent;
	width: 350px;
	height: 420px;
	overflow-y: scroll;
}

.list-song {
	background-color: #eee;
	list-style: none;
	margin: 12px auto 0;
	padding: 6px;
	height: 60px;
	cursor: pointer;
	width: 94%;
}

.list-song:hover{
	background: #c1baba;
	transition: all 0.3s;
}

.list-song:last-child {
	margin-bottom: 10px;
}

h1{
	font-size: 30px;
	text-align: center;
	margin: 0 auto
	display: inline-block;
	width: 100%;

}

.credits{
	text-align: center;
	margin: 0 auto
	display: inline-block;
	width: 100%;
}

h2{
	font-size: 20px;
	margin: 0;
	font-weight: bold;
}

.title-song {
	color: #176d3c;
	transition: all 0.3s;
}

h3 {
	font-size: 14px;
	margin: 4px 0;
}

.btn{
	color: #00aa77;
	font-size: 19px;;
	border: none;
	background-color: #222;
	opacity: 0.6;
	border-radius: 1px;
	transition: all 0.5s;
}
.btn:hover{
	color: #eee;
	background: none;
	/*background-color: #3d3b3b;*/
	transition: all 0.3s;
}

.btn-default {
	width: 60px;
	margin: 4px 10px;
}

.song-info {
	width: 90%;
	margin: 0 auto;
	display: inline-block;
	margin-left: 30px;
}

.name-song { /* text name current song */
	display: block;
	margin-top: 7px;
	text-align: center;
	color: white;
}

.song-actual-controls {
	  /* position: absolute; */
  	/* margin-left: 9%; */
 	 /* margin-top: 45px; */
 	 /* display: inline-block; */
	padding: 20px 0;
  	text-align: center;
  	width: 80%;
}

.currentSong { /* text time current song */
	display: inline-block;
	color: #fff;
}


input[type=range].volumen-line {
	-webkit-appearance: slider-vertical;
	display: inline-block;
	width: 60px;
}

.container-time-line {
	display: inline-block;
  	width: 100%;
  	padding: 16px 0;	
}

.container-time-line p{
	  color: white;
  	text-align: center;
  	margin: -42px 0;
}

.time-box, .vol-box, .song-actual-controls{
	display: inline-block;
	float: left;
}

.time-box, .vol-box{
	width: 10%;
  	height: 121px;
  	overflow: hidden;
}

input[type=range].time-line{
	-webkit-appearance: none;
  	-webkit-transform: rotateZ(-90deg);
  	background-color: #3d3b3b;
  	display: inline-block;
  	margin: 53px -19px;
  	width: 115px;
  	height: 10px;
}

input[type="range"]::-webkit-slider-thumb {
    	 -webkit-appearance: none;
    	 transition: all 0.5s;
    	background-color: #00aa77;
    	opacity: 0.6;
    	width: 10px;
    	height: 26px;
}

/*=======================  Tocadiscos ==============================*/

.image {
	width: 450px;
	padding: 10px 25px;
	margin-left: 16px;
}

.tocaDisco {
	width: 145px;
	position: absolute;
	right: 435px;
	bottom: 660px;
}


@-moz-keyframes animationRotate { 
	100%{ -moz-transform: rotate(360deg);}
}

@-webkit-keyframes animationRotate {
	100%{ -webkit-transform: rotate(360deg); }
}

@keyframes animationRotate{
	100%{ -webkit-transform: rotate(360deg); transform:rotate(360deg);}
}


/*============= Scrollbar style ===============*/
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}
::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

.active:active {
	background-color: green;
}